.containerBox {
  width: 80vw;
  min-height: 85vh;
  margin: 0 auto;
  border: 3px solid var(--primary-color);
}

.YTPlayer {
  width: 60vw;
  height: 34vw;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.davidOJohan {
  height: 50vw;
  width: 50vw;
  object-fit: cover;
  object-position: 0 80%;
  margin: 2rem 0;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

figure {
  padding: 0;
  margin: 0;
}
